#section01 {
	background:url(../images/bg_05.jpg) no-repeat center center fixed;
	min-height: 100vh;

	p {
		text-align: center;
	}

	padding-top: 10%;
}

#section02 {
	background:url(../images/bg_01.jpg) no-repeat center center fixed;
	min-height: 100vh;

}

#section03 {
	background-color: #2d1919;
	min-height: 500px;
	max-width: 1000px;


}
#section04 {
	background:url(../images/bg_03.jpg) no-repeat center center fixed;
	min-height: 100vh;

	p {
		text-align: center;
	}
}

#section05 {
	background:url(../images/bg_02.jpg) no-repeat center center fixed;
	min-height: 100vh;

}

#section06 {
	background:url(../images/bg_06.jpg) no-repeat center center fixed;
	min-height: 100vh;
	

}